h3 {
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    color: #122620;
    border: 2px;
    border-style: solid;
    border-color: #D6AD60;
    padding-block: 10px;
    background-color: #F4EBD0;
}

.horizontal-line {
    border-color: #122620;
}

body {
	font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    color: #122620;
    padding-block: 10px;
    background-color: #D6AD60;
    margin: 5px;
    font-size: 18px;
}