h3 {
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    color: #f3f3f3;
    border: 2px;
    border-style: solid;
    border-color: #e27c16;
    padding-block: 10px;
    background-color: #000000;
}

.horizontal-line {
    border-color: #69b8d3;
}

body {
	font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    color: #f3f3f3;
    padding-block: 10px;
    background-color: #000000;
    margin: 5px;
    font-size: 18px;
}