h3 {
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    color: #122620;
    border: 2px;
    border-style: solid;
    border-color: #EEEDE7;
    padding-block: 5px;
    background-color: #EEEDE7;
}

.horizontal-line {
    border-color: #868B8E;
}

h4 {
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    color: #122620;
    margin-left: 150px;
}

.Text {
    margin-left: 150px;
    margin-right: 150px;
    color: #122620;
}